@using RSFrontEnd.Models

<div class="song">
    <div @onclick="PopupCall">
        <TrashIcon></TrashIcon>
    </div>
    <img src="@song.Artist.ImageUrl"/>
    <h6>Name: @song.Name</h6>
    <h6>Artist: @song.Artist.Name</h6>
    <h6>Description: @song.Description</h6>
    <div id="popupmain">
        <Popup @ref="popupRef" Confirm="DeleteItem" />
    </div>
    <iframe id="spotifysong" src="@song.SpotifyUrl"  frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>



@code {

    [Parameter] 
    public Song song { get; set; }
    
    public Popup popupRef { get; set; }
    

    private void PopupCall()
    {
        popupRef.Show("This cannot be undone.", "Are you sure?");
    }


    [Parameter]
    public EventCallback<int> deleteFunction { get; set; }

    private async Task DeleteItem()
    {
        await deleteFunction.InvokeAsync(song.Id);
    }

    

}


