@using RSFrontEnd.Clients
@using RSFrontEnd.Models
@rendermode InteractiveAuto


<div class="container">
    <div class="row">
        <div class="filter col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <InputText class="songsearch border-4 rounded h-10 border-blue-300" @bind-Value="@SongName" placeholder="Filter by Song Name"/>
        </div>
        <div class="filter col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <InputText class="songsearch border-4 rounded h-10 border-blue-300" @bind-Value="@ArtistName" placeholder="Filter by Artist Name"/>
        </div>
        <div class="filter col-sm-12 col-md-6 col-lg-2 col-xl-2">
            <InputSelect class="form-select form-select-lg mb-3 h-10" @bind-Value="@GenreName">
                @if (genres.Count > 0)
                {
                    <option selected="true" value="">Any Genre</option>
                    @foreach (var genre in genres)
                    {
                        <option value="@genre.Name">@genre.Name</option>
                    }
                }
            </InputSelect>
        </div>

        <div class="filter col-sm-12 col-md-6 col-lg-2 col-xl-2">
                <button class="btn btn-light" style="height:50px" @onclick="FilterSongs">Apply Filter</button>
            </div>
    </div>
</div>


@if (songs == null) {
    <Loader></Loader>
} else if (songs.Count > 0) {
    <div class="container">
        <div class="row">
            
            <Virtualize Items="songs" Context="song">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <SongSummary song="song" deleteFunction="DeleteSong"></SongSummary>
                </div>
            </Virtualize>

        </div>
    </div>
}else if (songs.Count == 0) {
    
    <p id="noresults">No results found!</p>
    
} 


@code {

    public string SongName { get; set; } = "";

    public string ArtistName { get; set; } = "";

    public string GenreName { get; set; } = "";

    public List<Song> songs { get; set; } = new List<Song>(); 
    
    public List<Genre> genres { get; set; } = new List<Genre>(); 
    
    protected override async Task OnInitializedAsync()
    {
        var songWebClient = new HttpBackendClient<List<Song>>("api/song");
        songs = await songWebClient.GetRequest();
        var genreWebClient = new HttpBackendClient<List<Genre>>("api/artist/genre");
        genres = await genreWebClient.GetRequest();
    }
    
    public async Task DeleteSong(int id)
    {
        var client = new HttpBackendClient<Song>($"api/song/{id}"); 
        var response = await client.DeleteRequest();
        if (response == System.Net.HttpStatusCode.NoContent)
        {
            songs = songs.Where(s => s.Id != id).ToList();
            StateHasChanged();
        }
    }

    public async Task FilterSongs()
    {
        var client = new HttpBackendClient<List<Song>>($"api/song?artistname={ArtistName}&songname={SongName}&genre={GenreName}"); 
        songs = await client.GetRequest();
        StateHasChanged();
    }
    
}